<!--
  This template loads for the 'tab.food-detail' state (app.js)
  'food' is a $scope variable created in the foodsCtrl controller (controllers.js)
  foodsCtrl pulls data from the foods service or factory in service.js
  foods service returns an array of food data. This page displays array elements for each individual food
-->
<ion-view view-title="{{foods.name}}">
  <ion-content class="padding">
    <img ng-src="{{foods.pic}}" style="width: 150px; height: 150px">
    <p>
		{{foods.text}}
    </p>
	
	<!-- On click this button will call send function which changes the state -->
	<a class="button icon-left ion-plus-round button-block button-calm" ng-click="send()">
		Add Calories
	</a>
	
	<!-- links to a website containing useful info -->
	<a class="button icon-left ion-information-circled button-block button-balanced" href="{{foods.info}}">
		Information
	</a>
	
	<!-- links to a website containing recipes for this particular food -->
	<a class="button icon-left ion-android-restaurant button-block button-positive" href="{{foods.recipes}}">
		Recipes
	</a>
  </ion-content>
</ion-view>
