<ion-view view-title="Calorific">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Total</div>
      <div class="item item-body">
        <div>
          <b>{{figure}}</b> calories consumed today
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-image">
        <div>
          <img ng-src="img/front.jpg" style="width: 200px; height: 200px">
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
