<ion-view view-title="Calorie Counter">
	<ion-content class="padding">
	
		<!--div id="output" class="row">  
			<button class="button button-light col col-100" style="font-size: 40px; text-align: right">0</button>
		</div-->
		
		<div class="card">
			<div class="item item-text-wrap" style="font-size: 35px; text-align: right">
			{{result}} Total
			</div>
		</div>
		
		
		<div class="padding">
			<label class="item item-input">
			<input class="input-label" placeholder="Add" type="tel" ng-model="T" 
			style="font-size: 35px; text-align: right">
			Calories
			</label>
		</div>
		
		
		<div class="row">
			<button class="button ion-refresh button-balanced col" ng-click="reset()" style="font-size: 40px"></button>
			<button class="button ion-plus-round button-calm col" ng-click="add(T)" style="font-size: 40px"></button>
		</div>

	</ion-content>
</ion-view>

