<ion-view view-title="Calorific">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Total</div>
      <div class="item item-body">
        <div ng-model="figure.string">
          <b>{{figure}}</b> consumed today
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Last meal</div>
      <div class="item item-body">
        <div>
          last.item + pic
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
