
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Home Tab -->
	 <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	 </ion-tab>

	<!-- Food Tab -->
	<ion-tab title="Foods" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/foods">
		<ion-nav-view name="tab-foods"></ion-nav-view>
	</ion-tab>

	<!-- Counter Tab -->
	<ion-tab title="Counter" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/tab/calc">
		<ion-nav-view name="tab-calc"></ion-nav-view>
	</ion-tab>

</ion-tabs>
